# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store # macOS
Thumbs.db # Windows

# Logs and other files
*.log
*.sqlite3
*.csv

# Output from the interpreter (if you ever change it to save to files)
# output/
# *.out